{% extends "index/base.html" %}

{% block title %}搜索{% endblock %}

{% block content %}
<div class="card" style="margin-top: 20px;">
  <h4 class="card-header">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
    搜索
  </h4>
  <div class="card-body">
    <form action="{% url 'learning:search' %}" method="get">
      <div class="card card-body mb-3">
        <div class="row">
          <div class="col-8">
              <input type="search" class="form-control" id="search" name="search" value="{{ search }}" placeholder="搜索">
          </div>
          <div class="col-4">
            <div class="d-grid">
              <button class="btn btn-primary" type="submit">搜索</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% else %}
    {% if channels %}
    <div class="row">
      {% for channel in channels %}
      <div class="col-3 mb-3">
        <a href="{% url 'learning:channel' channel.title %}"
           class="card text-decoration-none text-black h-100">
          <h5 class="card-header">
            {{ channel.title_show }}
          </h5>
          <div class="card-body">
            {{ channel.introduction|safe }}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
      没有搜到这样的频道哦~
    </div>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}