{% extends "index/base.html" %}

{% load static %}

{% block title %}用户{{ username }}{% endblock %}

{% block content %}
<div class="card" style="margin-top: 20px;">
  <h4 class="card-header">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </svg>
    用户{{ username }}
  </h4>
  <div class="card-body">
    <div class="card">
      <h5 class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207l-5-5-5 5V13.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7.207Z"/>
        </svg>
        个人主页
        {% if user.username == username %}
        <a class="link-primary text-decoration-none" href="#" id="edit-link">
          编辑
        </a>
        {% endif %}
      </h5>
      <div class="card-body">
        <div id="homepage">
          {{ homepage|default:homepage_default_content|safe }}
        </div>
        <form id="edit" action="{% url 'user:edit-homepage' %}" method="post" style="display: none;">
          {% csrf_token %}
          <div class="mb-3">
            <label for="edit-content" class="form-label">编辑个人主页</label>
            <textarea class="form-control" id="edit-content"
                      name="edit-content" rows="3">{{ homepage_content }}</textarea>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary" type="submit">提交</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extension %}
<script src="{% static 'user/js/edit-content.js' %}"></script>
{% endblock %}